# Database connection string
POSTGRES_URL=postgresql://neondb_owner:npg_2EVZpdCDqN4W@ep-tiny-resonance-ad4q5mal-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
# Used to encrypt JWT tokens
PAYLOAD_SECRET=1CdL1LK8gwpRJm
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=jDLmea0VbO8Cg5
# Used to validate preview requests
PREVIEW_SECRET=OwVuux9oarD8Vs
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_vknwH6OwmuZkjLd0_TbsytqnQtnt2DdcceVCv0nPBV04O9Q

POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_2EVZpdCDqN4W@ep-tiny-resonance-ad4q5mal-pooler.c-2.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require


